@model ASPNET.Models.ViewModels.ProductVM

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Dodaj produkt</h2> 
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ProductName">Nazwa produktu</label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Product.Amount">Stan</label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Product.ProductType">Kategoria produktu</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Product.ProductName" class="form-control" />
                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Product.Amount" class="form-control" />
                        <span asp-validation-for="Product.Amount" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <select asp-for="Product.ProductTypeId" asp-items="@Model.TypeDropDown" class="form-control" >
                            <option selected>--Wybierz kategorie produktu--</option>
                        </select>
                        <span asp-validation-for="Product.ProductTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Utwórz" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Cofnij</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}

